*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
   
}
body{
    background-color: #ffe600;
}
nav{
   
   background-image: url(images/bg-recipes3.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    max-width:100%;
    max-height: 150px;
}

nav{
    display: flex;
    padding: 2% 2%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
}
nav img{
    width: 135px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #444;
    text-decoration: none;
    font-size: 15px;
    font-weight: 2000;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: .5s;    
}
.nav-links ul li:hover::after{
    width: 100%;
}
nav .fa{
    display: none;
}


@media(max-width: 700px)
{
   .nav-links ul li
    {
        display: block;
    }
    .nav-links
    {
        position: fixed;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 0.5s;
    }
    .nav-links ul{
        padding: 30px;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer; 
    }
    .text-box h1{
        font-size: 20px;
    }
}

/*---------- banner--------*/


.row img{
    margin-top: 2%;
    display: flex;
    justify-content: space-between;  
    width: 100%;
}

  /*---------- product--------*/


  .main-container{
    background-image: url(https://www.lays.com/sites/lays.com/themes/lays/img/bg-products2.jpg?1) , url(https://www.lays.com/sites/lays.com/themes/lays/img/bg-products.jpg?1);
   
    margin-top: 20px;
    
}
.main-container3 h1{
    font-size: 95px;
    line-height: 1;
    position: relative;
    text-align: left;
    margin: 0 0 30px;
    color: #f0f0f0;
  }




.main-container h1{
    font-size: 95px;
    line-height: 1;
    position: relative;
    text-align: left;
    margin: 0 0 30px;
    color: #f0f0f0;
  }

  .main-container2 h1{
    font-size: 95px;
    line-height: 1;
    position: relative;
    text-align: left;
    margin: 0 0 30px;
    color: #f0f0f0;
  }
  .main-container2{
    background-image: url(https://www.lays.com/sites/lays.com/themes/lays/img/bg-recipes2.jpg?1) , url(https://www.lays.com/sites/lays.com/themes/lays/img/bg-recipes2.jpg?1);
  
    margin-top: 20px;
    
}

 
.product-title .btn-main {
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 30px;
   
    display: inline-block;
    font-size: 16px;
    line-height: 1;
    padding: 12px 30px;
    text-decoration: none;
    text-align: center;
    background: #da291c;
    position: relative;
    cursor: pointer;
    font-family: "MarkOT-Medium", cursive;
    font-weight: normal;
    letter-spacing: -0.05em;
}

.outer .image{
    display: flex;
    padding: 120px;
}


/*video*/

.main-container3{
    background-image: url(https://www.lays.com/sites/lays.com/themes/lays/img/bg-videos.jpg?1) , url(https://www.lays.com/sites/lays.com/themes/lays/img/bg-videos.jpg?1);
   
    margin-top: 20px;
    
}
.main-container2 h1{
    font-size: 95px;
    line-height: 1;
    position: relative;
    text-align: left;
    margin: 0 0 30px;
    color: #f0f0f0;
  }

.video-container {
    background-image: url('https://i3.ytimg.com/vi/fpmVYApkB7M/maxresdefault.jpg');
    background-size: cover;
    background-position: center;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-wrapper {

    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    padding-top: 25px;
    height: 0;
    overflow: hidden;
}

.video-wrapper iframe {
    position: absolute;
    top: 100px;
    left: 320px;
    width: 650px;
    height: 600px;
    border: 0;
    margin-bottom: 350px;
}

.text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    background-color:  #00aa4f; /* Semi-transparent background */
    margin-top: 0;
    min-height: 0;
    padding-top: 0;
}
/* social */
.social img{
    vertical-align: top;
    max-width: 100%;
    max-height: 400px;
    box-sizing: border-box;
}
/*
.card-body img{
    margin: 0;
    
}
.product-title{
     height: 150px;
     width: 336px;
}
  .images{
    display: flex;
    justify-content: center;
  }

  .images img{
    width: 336px;
  }

  .product-title h3{
    font-size: 35px;
    line-height: 40px;
    max-height: 80px;
    text-transform: uppercase;
    color: #fff;
    font-family: "MarkOT-Bold", sans-serif;
    font-weight: normal;
    letter-spacing: -0.05em;
    text-align: left;
    cursor: pointer;
  }

  
  
  

  .product-title h3 {
    font-family: "MarkOT-Bold", sans-serif;
    font-weight: normal;
    letter-spacing: -0.05em;
}

.main-container .outer{
    position: relative;
    max-width: 1170px;
    margin: 0 auto;
    
}




















/*
  .product{
    background-image: url(images/bg-products2.jpg) ;
    background-position: left top, left bottom;
    background-repeat: no-repeat, no-repeat;
    margin-top: 2%;
    box-sizing: border-box;
    display: block;
    height: max-content;
    flex-wrap: wrap;
   
  }
   

  
  .product .outer{
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .outer .inner-img {
    display: flex;
    position: relative;
    width: 352px;
    margin-left: 20px;
   
    
  }
  .outer .inner-img img{
    width: 100%;
    height: auto;
    margin-bottom: 500px;
    

  }


  @media (max-width:700px){
    .product{
        flex-direction: column;
    }
    .product h1{
        font-size: 55px;
    }

    .outer .inner-img {
        flex-direction: column;
        
       
    }
    
} 

@media (max-width:700px){
    .row{
        flex-direction: column;
    }
} 





@media(max-width:700px){
    .testimonial-col img{
        margin-left: 0px;
        margin-right: 15px;
    }
}

/*-------- Call To Action ----------
    }
}

/*--------------Footer---------------*/

/*.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
0;
}


@media (max-width:700px){
    .sub-header h1{
        font-size: 24px;
    }
} 




.footer-link{
    text-decoration: none;
    color: #777;
}

*/











